[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
scikit-learn = "*"
sentence-transformers = "*"
starlette-context = "*"

[dev-packages]

[requires]
python_version = "3.8"
